{% extends 'blog/base.html' %}
<title>{% block title %}{{object.title}}{% endblock %}</title>

{% block content %}
<div class="row g-0 bg-body-secondary position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="{{ MEDIA_URL }}{{ object.preview.url }}" class="w-100" alt="{{ object.title }}">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">{{object.title}}</h5>
    <p>{{object.content}}</p>
    <p class="card-text"><small class="text-body-secondary">Количество просмотров: {{object.views}}</small></p>
    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:article_list' %}">Вернуться к списку статей</a>
    <a class="p-2 btn btn-outline-primary" href="{% url 'blog:article_update' object.pk %}">Редактировать</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:article_delete' object.pk %}">Удалить</a>

  </div>
</div>
{% endblock %}
