{% extends 'catalog/base.html' %}


{% block content %}
<form method="post" action="">
    {% csrf_token %}
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Наименование продукта</label>
    <input type="text" class="form-control" id="validationCustom01" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Описание продукта</label>
    <input type="text" class="form-control" id="validationCustom02" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Изображение продукта</label>
    <input type="image" class="form-control" id="validationCustom03">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Категория продукта</label>
    <input type="text" class="form-control" id="validationCustom04" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Цена продукта</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Дата создания товара</label>
    <input type="text" class="form-control" id="validationCustom06">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Дата последнего изменения</label>
    <input type="text" class="form-control" id="validationCustom07">
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
{% endblock %}
